<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Detalle del Producto</h2>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="card productos-card">
                <% if(locals.isLogged){
                    if(locals.userLogged.role_id === 1 || locals.userLogged.role_id === 2) { %>
                        <div class="float-start">
                            <a href="/products/create"><i class="fas fa-plus-square"></i></a>
                            <a href="/products/edit/<%= product.id %>"><i class="fas fa-edit"></i></a>
                            <!-- Button trigger modal -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-trash"></i>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de producto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <h5>¿Está seguro de eliminar el producto?</h5>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary"><a href="/products/delete/<%= product.id %>">Borrar</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }} %>

                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src="/img/products/<%= product.image %>" alt="" class="imagen">
                    </div>
                    <div class="col-sm-7 float-start">
                        <h4 class="productos-text"><%= product.product %></h4>
                        <h4 class="productos-text">$ <%= product.price %></h4>
                        <h4 class="productos-text">Descripción</h4>
                        <h5 class="productos-text"><%= product.description %></h5>
                        <h4 class="productos-text">Categoría: <%= product.categories.category %></h4>
                    </div>
                    <% if(locals.isLogged){
                        if(locals.userLogged.role_id === 3) { %>
                            <div class="col-sm-1">
                                <a class="float-start" href="/products/create"><i class="fas fa-comment"></i></i></a>
                                <a class="float-start" href="/products/edit/<%= product.id %>"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                    <% }} %>
                </div>
            </div>
        <hr>
        <div class="container-fluid">
            <div class="seccion-titulos">
                <h2>Productos similares</h2>
            </div>
            <div class="row col-12 justify-content-center">
                <% products.forEach(function(similarProduct){
                    if(similarProduct.categories.category === product.categories.category && similarProduct.id != product.id){ %>
                    <div class="card productos" style="width: 15rem;">
                        <img src="/img/products/<%= similarProduct.image %>" class="card-img-top" alt="<%= similarProduct.product %>">
                        <div class="card-body">
                        <p class="card-title"><%= similarProduct.product %></p>
                        <p class="card-text">$ <%= similarProduct.price %></p>
                        <a href="/products/detail/<%= similarProduct.id %>">Ver más</a>
                        <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                <% }}) %>
            </div>
        </div>
        <hr>
        <h2>Comentarios</h2>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Marcela</h2>
                <h3>31 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Silvia</h2>
                <h3>29 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Kely</h2>
                <h3>15 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>