<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Edición de productos</h2>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/products/edit/<%= product.id %>" method="post" enctype="multipart/form-data">
                    <% if(locals.errors && errors.name) { %>
                        <p class="error-msg"><%= errors.name.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="name">Nombre del producto:</span>
                        <input type="text" class="form-control" aria-label="name" aria-describedby="name" name="name" value="<%= locals.oldData ? oldData.name : product.product  %>">
                    </div>
                    <% if(locals.errors && errors.description) { %>
                        <p class="error-msg"><%= errors.description.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descripción: </span>
                        <textarea class="form-control" aria-label="description" name="description"><%= locals.oldData ? oldData.description : product.description  %></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Imagen actual: </span>
                        <img src="/img/products/<%= product.image %>" class="img-thumbnail">
                    </div>
                    <% if(locals.errors && errors.image) { %>
                        <p class="error-msg"><%= errors.image.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="image">Ingrese la imagen</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <% if(locals.errors && errors.price) { %>
                        <p class="error-msg"><%= errors.price.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price">Precio:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="price" name="price" value="<%= locals.oldData ? oldData.price : product.price  %>">
                    </div>
                    <% if(locals.errors && errors.category) { %>
                        <p class="error-msg"><%= errors.category.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="category">Categoría: </label>
                        <select class="form-select" id="category" name="category" value="<%= locals.oldData ? oldData.product.categories.category : product.categories.category  %>">
                        <option value="<%= product.categories.id  %>" selected><%= product.categories.category  %></option>
                        <% for (const category of categories){ %>
                            <option value="<%= category.id %>"
                            <%= locals.oldData && (product.categories.category === oldData.category) ? 'selected' : product.categories.category %>
                        ><%= category.category %>
                        </option>
                        <% } %>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="discount">Descuento:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="discount" name="discount" value="<%= locals.oldData ? oldData.discount : product.discount  %>">
                    </div>
                    <% if(locals.errors && errors.stock) { %>
                        <p class="error-msg"><%= errors.stock.msg %></p>
                    <% } %>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="stock">Stock:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="stock" name="stock" value="<%= locals.oldData ? oldData.stock : product.stock  %>">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="order">Destacado: </label>
                        <select class="form-select" id="order" name="order" value="<%= locals.oldData ? oldData.order : product.order  %>">
                        <option value="0" selected>Elija...</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                        </select>
                    </div>

                    <div class="row mb-3 text-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary"><a href="/products/list">Cancelar</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>