<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Alta de productos</h2>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/products/create" method="post" enctype="multipart/form-data" class="product-form" id="product-form">
                    <% if(locals.errors && errors.name) { %>
                        <p class="error-msg"><%= errors.name.msg %></p>
                    <% } %>
                    <h5 id="name-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text">* Nombre del producto:</span>
                        <input type="text" class="form-control" id="name" aria-label="name" aria-describedby="name" name="name" value="<%= locals.oldData ? oldData.name : null  %>">
                    </div>
                    <% if(locals.errors && errors.description) { %>
                        <p class="error-msg"><%= errors.description.msg %></p>
                    <% } %>
                    <h5 id="description-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text">* Descripción: </span>
                        <textarea class="form-control" aria-label="description" name="description" id="description"><%= locals.oldData ? oldData.description : null  %></textarea>
                    </div>
                    <% if(locals.errors && errors.image) { %>
                        <p class="error-msg"><%= errors.image.msg %></p>
                    <% } %>
                    <h5 id="image-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="image">* Ingrese la imagen</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <% if(locals.errors && errors.price) { %>
                        <p class="error-msg"><%= errors.price.msg %></p>
                    <% } %>
                    <h5 id="price-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text">* Precio:</span>
                        <input type="text" class="form-control" id="price" aria-label="Sizing example input" aria-describedby="price" name="price" value="<%= locals.oldData ? oldData.price : null  %>">
                    </div>
                    <% if(locals.errors && errors.category) { %>
                        <p class="error-msg"><%= errors.category.msg %></p>
                    <% } %>
                    <h5 id="category-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="category">* Categoría: </label>
                        <select class="form-select" id="category" name="category" value="<%= locals.oldData ? oldData.category.categoria : null  %>">
                        <option value="" selected>Elija...</option>
                        <% for (const category of categories){ %>
                            <option value="<%= category.id %>"
                                <% if(locals.oldData && oldData.category == category.id){ %>
                                    selected <% } %>
                                ><%= category.category %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="discount">Descuento:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="discount" name="discount" value="<%= locals.oldData ? oldData.discount : null  %>">
                    </div>
                    <% if(locals.errors && errors.stock) { %>
                        <p class="error-msg"><%= errors.stock.msg %></p>
                    <% } %>
                    <h5 id="stock-error" class="validations-errors"></h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text">* Stock:</span>
                        <input type="text" class="form-control" id="stock" aria-label="Sizing example input" aria-describedby="stock" name="stock" value="<%= locals.oldData ? oldData.stock : null  %>">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="order">Destacado: </label>
                        <select class="form-select" id="order" name="order" value="<%= locals.oldData ? oldData.order : null  %>">
                        <option value="0" selected>Elija...</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                        </select>
                    </div>
                    <div>
                        <h6>* Campos obligatorios</hs>
                    </div>
                    <div class="row mb-3 text-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary"><a href="/products/list">Cancelar</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <hr>
    <script src="/js/productsCreateValidation.js"></script>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>