<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Detalle del Producto</h2>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="card productos-card">
                <% if(locals.isLogged){
                    if(locals.userLogged.role_id === 1 || locals.userLogged.role_id === 2) { %>
                        <div class="float-start">
                            <a href="/products/create"><i class="fas fa-plus-square"></i></a>
                            <a href="/products/edit/<%= product.id %>"><i class="fas fa-edit"></i></a>
                            <!-- Button trigger modal -->
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-trash"></i>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de producto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <h5>¿Está seguro de eliminar el producto?</h5>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary"><a href="/products/delete/<%= product.id %>">Borrar</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }} %>
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src="/img/products/<%= product.image %>" alt="" class="imagen">
                    </div>
                    <div class="col-sm-7 float-start">
                        <h3 class="productos-text"><%= product.product %></h3>
                        <h4 class="productos-text">Descripción: </h4>
                        <h5 class="productos-text"><%= product.description %></h5>
                        <h4 class="productos-text">Categoría: <%= product.categories.category %></h4>
                            <% if(product.discount > 0) { 
                            const descuento = product.price * product.discount / 100;
                            const precioConDescuento = product.price - descuento
                            %>
                            <div class="row">
                                <div class="col">
                                    <h4 class="productos-text" style="text-decoration: line-through;">$ <%= toThousand(product.price) %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h4 class="productos-text">$ <%= toThousand(precioConDescuento) %> - <%= product.discount %> % OFF</h4>
                                </div>
                            </div>
                            <% }else { %>
                            <div class="row">
                                <div class="col">
                                    <h4 class="productos-text">$ <%= toThousand(product.price) %></h4>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% if(locals.isLogged){
                        if(locals.userLogged.role_id === 3) { %>
                            <div class="col-sm-1">
                                <form action="/products/comment/<%= product.id %>" method="post">
                                    <!-- Button trigger modal -->
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="float-start">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Comentarios</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                <h5>Ingrese su comentario: </h5>
                                                <textarea name="comment" id="" cols="60" rows="5"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Comentar</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="float-start" href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                    <% }}else{ %>
                            <div class="col-sm-1">
                                <a class="float-start" href="/products/comment/<%= product.id %>"><i class="fas fa-comment"></i></a>
                                <a class="float-start" href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                    <% } %>
                </div>
            </div>
        <hr>
        <div class="container">
            <div class="row col-12 justify-content-center">
                <%  let cont2 = 0;
                    comments.forEach(function(comment){
                    if(product.id === comment.product_id && comment.published === 1){ cont2 += 1}});
                    if(cont2 > 0) { %>
                <div class="seccion-titulos">
                    <h2>Comentarios</h2>
                </div>
                <hr>
                <% comments.forEach(function(comment){
                    if(product.id === comment.product_id && comment.published === 1){ %>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/avatars/<%= comment.users.avatar %>" alt="" class="comment-avatar">
                            </div>
                            <div class="col-3">
                                <h4><%= comment.users.name %></h4>
                                <h5><%= comment.createdAt %></h5>    
                            </div>
                            <div class="col-6">
                                <h5><%= comment.comment %></h5>
                            </div>
                        </div>
                        <hr>
                <% }})} %>
            </div>
        </div>
        <div class="container-fluid">
            <%  var cont1 = 0;
                products.forEach(function(similarProduct){
                    if(similarProduct.categories.category === product.categories.category && similarProduct.id != product.id){
                        cont1 += 1}
                    })
                if(cont1 > 0) {
                     %>
            <div class="seccion-titulos">
                <h2>Productos similares</h2>
            </div>
            <div class="row col-12 justify-content-center">
                <% products.forEach(function(similarProduct){
                    if(similarProduct.categories.category === product.categories.category && similarProduct.id != product.id){ %>
                            <div class="card productos" style="width: 15rem;">
                                <a href="/products/detail/<%= similarProduct.id %>"><img src="/img/products/<%= similarProduct.image %>" class="card-img-top" alt="<%= similarProduct.product %>"></a>
                                <div class="card-body">
                                    <p class="card-title"><%= similarProduct.product %></p>
                                    <% if(product.discount > 0) { 
                                    const descuento = similarProduct.price * similarProduct.discount / 100;
                                    const precioConDescuento = similarProduct.price - descuento
                                    %>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text" style="text-decoration: line-through;">$ <%= toThousand(similarProduct.price) %></p>
                                        </div>
                                        <div class="col">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">$ <%= toThousand(precioConDescuento) %></p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text"><%= similarProduct.discount %> % OFF</p>
                                        </div>
                                    </div>
                                    <% }else { %>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">$ <%= toThousand(similarProduct.price) %></p>
                                        </div>
                                        <div class="col">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                <% }}) %>
            </div>
            <% } %>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>