<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Mi Carrito</h2>
        </div>
        <hr>
        <div class="container text-center">
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Producto</th>
                    <th scope="col">+ / -</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody class="products-list">
                    <% products.forEach(function(product){ %>
                        <tr>
                            <td><img src="/img/products/<%= product.image  %>" alt="<%= product.product %>" class="img-thumbnail"></td>
                            <td><%= product.product %></td>
                            <td>                                
                                <a href="/products/edit/<%= product.id %>">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-plus-square"></i></button>
                                </a>
                                <a href="/products/edit/<%= product.id %>">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-minus-square"></i></i></button>
                                </a>
                            </td>
                            <td>
                                <input type="text" name="" id="">
                            </td>
                            <td>
                                <input type="text" name="" id="">
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de producto</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                h5>¿Está seguro de eliminar el producto?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a href="/products/delete/<%= product.id %>">
                                                    <button type="submit" class="btn btn-danger">Borrar</i></button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <%- include('../partials/bs'); %>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>