<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Administración de Usuarios</h2>
        </div>
        <hr>
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-2">
                    <a href="/admin/adminProducts">
                        <button type="submit" class="btn btn-primary">Productos</button>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/admin/adminComments">
                        <button type="submit" class="btn btn-primary">Comentarios</button>
                    </a>
                </div>
            </div>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <th scope="row"><%= user.id %></th>
                            <td><img src="/img/avatars/<%= user.avatar  %>" alt="<%= user.email %>" class="img-thumbnail"></td>
                            <td><%= user.name %></td>
                            <td><%= user.surname %></td>
                            <td><%= user.email %></td>
                            <td><%= user.roles.role %></td>
                            <td>
                                <a href="/admin/adminUsersEditRol/<%= user.id %>">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i></i></button>
                                </a>                      
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de usuario</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>¿Está seguro de eliminar al usuario?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a href="/users/delete/<%=user.id %>">
                                                    <button type="submit" class="btn btn-danger">Borrar</i></button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <%- include('../partials/bs'); %>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>