<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Administración de Comentarios</h2>
        </div>
        <hr>
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-2">
                    <a href="/admin/adminProducts">
                        <button type="submit" class="btn btn-primary">Productos</button>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/admin/adminUsers">
                        <button type="submit" class="btn btn-primary">Usuarios</button>
                    </a>
                </div>
            </div>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Usuari@</th>
                    <th scope="col">Email</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Publicar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                    <% comments.forEach(function(comment){ %>
                        <tr>
                            <td><%= comment.users.name %></td>
                            <td><%= comment.users.email %></td>
                            <td><%= comment.products.product %></td>
                            <td><%= comment.comment %></td>
                            <td>
                                <a href="/admin/adminCommentsPublish/<%= comment.id %>">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i></i></button>
                                </a>                      
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de comentarios</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>¿Está seguro de eliminar el comentario?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a href="admin/adminCommentsDelete/<%=comment.id %>">
                                                    <button type="submit" class="btn btn-danger">Borrar</i></button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <%- include('../partials/bs'); %>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>