<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <div class="container-fluid">
        <div class="row seccion-titulos">
            <div class="col-3">
                <h2>Productos destacados</h2>
            </div>
            <div class="col-1">
                <% if(locals.isLogged){
                    if(locals.userLogged.role_id === 1 || locals.userLogged.role_id === 2) { %>
                        <div class="float-start">
                            <a href="/products/create"><i class="fas fa-plus-square product-create"></i></a>
                        </div>
                <% }} %>
             </div>
        </div>
        <hr>
        <div class="row col-12 justify-content-center">
        <% products.forEach(function(product){ 
            if(product.order == 1){%>
                <div class="card productos" style="width: 15rem;">
                    <% if(locals.isLogged){
                        if(locals.userLogged.role_id === 1 || locals.userLogged.role_id === 2) { %>
                            <div class="float-start">
                                <a href="/products/edit/<%= product.id %>"><i class="fas fa-edit"></i></a>
                                <a href="/products/delete/<%= product.id %>"><i class="fas fa-trash"></i></a>
                            </div>
                        <% }} %>
                    <div class="product-image-container">
                        <a href="/products/detail/<%= product.id %>"><img src="/img/products/<%= product.image %>" class="card-img-top imagen" alt="<%= product.image %>"></a>                    
                    </div>
                    <div class="card-body">
                        <p class="card-title product"><%= product.product %></p>
                        <% if(product.discount > 0) { 
                            const descuento = product.price * product.discount / 100;
                            const precioConDescuento = product.price - descuento
                            %>
                            <div class="row">
                                <div class="col-10">
                                    <p class="col-6 card-text" style="text-decoration: line-through;">$ <%= toThousand(product.price) %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <p class="card-text price-discount">$ <%= toThousand(precioConDescuento) %></p>
                                </div>
                                <div class="col-5">
                                    <p class="card-text"><%= product.discount %>% OFF</p>
                                </div>
                            </div>
                        <% }else { %>
                            <div class="row">
                                <div class="col-9">
                                    <div class="row">
                                        <h6 class="col-1 card-text">$ </h6>
                                        <p class="col-6 card-text price"><%= toThousand(product.price) %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
        <% }}) %>
    </div>
    <hr>
    <%- include('../partials/footer')  %>
    <%- include('../partials/bs')  %>
</body>
</html>