<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Mi Perfil</h2>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="card usuarios-card">
                <div class="row g-0">
                <div class="col-md-3">
                    <img src="/img/avatars/<%= user.avatar %>" class="img-fluid rounded-start usuarios-imagen" alt="...">
                </div>
                <div class="col-md-7 float-start">
                    <div class="card-body">
                        <h5 class="card-title usuarios-text">Nombre: <%= user.name %></h5>
                        <h5 class="card-title usuarios-text">Apellido: <%= user.surname %></h5>
                        <h5 class="card-title usuarios-text">Email: <%= user.email %></h5></span>
                        <h5 class="card-title usuarios-text">Teléfono: <%= user.phone %></h5>
                        <h5 class="card-title usuarios-text">Dirección: <%= user.address %></h5>
                        <h5 class="card-title usuarios-text">Código Postal: <%= user.code %></h5>
                    </div>
                </div>
                <% if(locals.isLogged){ %>
                        <div class="col-sm-2">
                            <a class="float-start" href="/users/edit/<%= user.id %>"><i class="fas fa-edit"></i></a>
                            <a class="float-start" href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                <% } %>
                </div>
            </div>
        </div>
        <div class="container text-center">
        <div class="row justify-content-center">
            <% if(user.role_id === 1) { %>
            <div class="col-sm-3">
            <button type="submit" class="btn btn-primary"><a href="/admin/adminProducts/">Administrar Productos</a></button>
            </div>
            <div class="col-sm-3">
            <button type="submit" class="btn btn-primary"><a href="/admin/adminUsers/">Administrar Usuarios</a></button>
            </div>
            <% } %>
        </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>