<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Registro de Usuarios</h2>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/users/register" method="post" class="register-form" enctype="multipart/form-data" id="register-form">
                    <% if(locals.errors && errors.name){ %>
                        <div class="error-msg"><%= errors.name.msg %></div> 
                    <% } %>
                    <h5 id="name-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Nombre: </span>
                        <input type="text" aria-label="name" class="form-control" name="name" id="name">
                    </div>
                    <% if(locals.errors && errors.surname){ %>
                        <div class="error-msg"><%= errors.surname.msg %></div> 
                    <% } %>
                    <h5 id="surname-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Apellido: </span>
                        <input type="text" aria-label="surname" class="form-control" name="surname" id="surname">
                    </div>
                    <% if(locals.errors && errors.email){ %>
                        <div class="error-msg"><%= errors.email.msg %></div> 
                    <% } %>
                    <h5 id="email-error" class="validations-errors"></h5>
                    <label class="visually-hidden" for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email: ">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Teléfono: </span>
                        <input type="text" aria-label="phone" class="form-control" name="phone">
                    </div>
                    <% if(locals.errors && errors.address){ %>
                        <div class="error-msg"><%= errors.address.msg %></div> 
                    <% } %>
                    <h5 id="address-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Domicilio: </span>
                        <input type="text" aria-label="address" class="form-control" name="address" id="address">
                    </div>
                    <% if(locals.errors && errors.code){ %>
                        <div class="error-msg"><%= errors.code.msg %></div> 
                    <% } %>
                    <h5 id="code-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Código Postal: </span>
                        <input type="text" aria-label="code" class="form-control" name="code" id="code">
                    </div>
                    <% if(locals.errors && errors.avatar){ %>
                        <div class="error-msg"><%= errors.avatar.msg %></div> 
                    <% } %>
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupFile01">Imagen de perfil: </label>
                        <input type="file" class="form-control" id="inputGroupFile01" name="avatar">
                    </div>
                    <% if(locals.errors && errors.password){ %>
                        <div class="error-msg"><%= errors.password.msg %></div> 
                    <% } %>
                    <h5 id="password-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Contraseña: </span>
                        <input type="password" aria-label="password" class="form-control" name="password" id="password">
                    </div>
                    <% if(locals.errors && errors.password2){ %>
                        <div class="error-msg"><%= errors.password2.msg %></div> 
                    <% } %>
                    <h5 id="password2-error" class="validations-errors"></h5>
                    <div class="input-group">
                        <span class="input-group-text">Repita su contraseña: </span>
                        <input type="password" aria-label="password2" class="form-control" name="password2" id="password2">
                    </div>
                    <div class="row mb-3 text-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary"><a href="/users/login">Ingresar</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <hr>
    <script src="/js/usersRegisterValidation.js"></script>
    <%- include('../partials/bs')  %>
    <%- include('../partials/footer')  %>
</body>
</html>